<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- Root logger: 기본 로그는 INFO 이상만 출력 -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>

    <Logger name="bjs.zangbu" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Spring framework 로그를 WARN 이상으로 제한 -->
    <Logger name="org.springframework" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- HikariCP 커넥션 로그를 WARN 이상으로 제한 -->
    <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Swagger 로깅 줄이기 -->
    <Logger name="springfox.documentation" level="ERROR" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Tomcat JSP 관련 경고 제거 -->
    <Logger name="org.apache.jasper" level="ERROR" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- MyBatis 또는 SQL 로그는 필요 시만 INFO -->
    <Logger name="jdbc" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>

</Configuration>
