<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bjs.zangbu.bookmark.mapper.BookMarkMapper">
    <!-- bookmark 생성 -->
    <insert id="insertBookMark">
        INSERT INTO bookmark (user_id, building_id)
        VALUES (#{userId}, #{buildingId})
    </insert>
    <!-- bookCount 증가 -->
    <update id="incrementBookmarkCount">
        UPDATE building
        SET bookmark_count = IFNULL(bookmark_count, 0) + 1
        WHERE building_id = #{buildingId}
    </update>
    <!-- bookCount 감소 -->
    <update id="decrementBookmarkCount">
        UPDATE building
        SET bookmark_count = IFNULL(bookmark_count, 0) - 1
        WHERE building_id = #{buildingId}
    </update>
    <update id="updateBookmarkPrice">
        UPDATE bookmark
        SET price = #{price}
        WHERE bookmark_id = #{bookmarkId}
    </update>
    <!-- bookmark 삭제 -->
    <delete id="deleteBookMark">
        DELETE FROM bookmark
        WHERE user_id = #{userId}
          AND building_id = #{buildingId}
    </delete>
    <select id="selectAllBookmarks" resultType="bjs.zangbu.bookmark.vo.Bookmark">
        SELECT bookmark_id, user_id, building_id, price
        FROM bookmark
    </select>
    <select id="selectUserId" resultType="java.lang.String">
        SELECT user_id
        FROM bookmark
        WHERE building_id = #{buildingId}
    </select>
    <!-- 회원이 북마크한 모든 건물 ID 목록을 조회하는 쿼리 -->
    <select id="selectBookmarkedBuildingIdsByMember" resultType="long" parameterType="string">
        SELECT building_id
        FROM bookmark
        WHERE member_id = #{memberId}
    </select>
</mapper>
