<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bjs.zangbu.building.mapper.BuildingMapper">

    <select id="isBuildingExists" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM building
        WHERE building_id = #{buildingId}
    </select>
</mapper>
