<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bjs.zangbu.payment.mapper.PaymentMapper">

    <insert id="insertPayment"
            parameterType="bjs.zangbu.payment.mapper.PaymentInsertParam"
            useGeneratedKeys="true"
            keyProperty="paymentId">
        INSERT INTO payment
        (member_id,
        order_id,
        amount,           
        membership_date)
        VALUES
        (#{memberId},
        #{orderId},
        #{amount},
        NOW())
    </insert>


    <update id="confirmPayment"
            parameterType="bjs.zangbu.payment.dto.PaymentConfirmRequest">
        UPDATE payment
        SET membership_date = NOW()  <!-- 승인 시각 갱신 -->
        WHERE order_id = #{orderId}
    </update>

</mapper>