<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bjs.zangbu.security.account.mapper.UserDetailsMapper">

    <resultMap id="memberMap" type="bjs.zangbu.security.account.vo.Member">

    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT
            member_id,
            email,
            password,
            phone,
            nickname,
            identity,
            role,
            birth,
            name
        FROM member
        WHERE email = #{email}
    </select>
</mapper>