<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bjs.zangbu.security.account.mapper.UserDetailsMapper">

    <resultMap id="memberMap" type="bjs.zangbu.security.account.vo.Member">
        <id property="memberId" column="member_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="nickname" column="nickname"/>
        <result property="identity" column="identity"/>
        <result property="role" column="role"/>
        <result property="birth" column="birth"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT
            member_id,
            email,
            password,
            phone,
            nickname,
            identity,
            role,
            birth,
            name
        FROM member
        WHERE email = #{email}
    </select>
</mapper>