<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bjs.zangbu.complexList.mapper.ComplexListMapper">

    <insert id="createComplexList">
        INSERT INTO complex_list (
        res_type,
        complex_name,
        complex_no,
        sido,
        sigungu,
        si_code,
        eupmyeondong,
        transaction_id,
        address,
        zonecode,
        building_name,
        bname,
        dong,
        ho,
        roadName
        )
        VALUES (
        #{resType},
        #{complexName},
        #{complexNo},
        #{sido},
        #{sigungu},
        #{siCode},
        #{eupmyeondong},
        #{transactionId},
        #{address},
        #{zonecode},
        #{buildingName},
        #{bname},
        #{dong},
        #{ho},
        #{roadName}
        )
        <selectKey
                resultType="Long"
                keyProperty="complexId"
                keyColumn="complex_id"
                order="AFTER"
        >
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getComplexNoByBuildingId" resultType="java.lang.String">
        SELECT cl.complex_no
        FROM complex_list cl
                 JOIN building b ON cl.complex_id = b.complex_id
        WHERE b.building_id = #{buildingId}
    </select>

    <select id="getComplexIdByBuildingId" resultType="java.lang.Long">
        -- 더 효율적인 쿼리: building 테이블에 complex_id가 있으므로 JOIN이 불필요합니다.
        SELECT complex_id
        FROM building
        WHERE building_id = #{buildingId}
    </select>

</mapper>